<div class="container">
	<div class="row d-flex justify-content-center">
		<h1 class="title"> Interesting Things about Jackson Tennessee </h1>
	</div>
</div>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1 class="sub-titles">Famous People</h1>
			<h2>
				<ul class="items">
					<li>Carl Perkins - Counrty Music Singer</li>
					<li>Casey Jones - American Railroader</li>
					<li>Ed "Too Tall" Jones - Football Player</li>
					<li>JR Payne - Women's Basketball Head Coach, University of Colorado</li>
					<li>Joe Rogers Sr. - Co-founder of Waffle House</li>
				</ul>
			</h2>
		</div>
		<div class="col-sm-6">
			<h1 class="sub-titles">Places to Go</h1>
			<h2>
				<ul class="items">
					<li>Internation Rock-A-Billy Hall of Fame</li>
					<li>Casey Jones Home and Railroad Museum</li>
					<li>Cypress Grove Natural Park</li>
					<li>Rusty's TV and Movie Car Museum</li>
					<li>Century Farm Winery</li>
				</ul>
			</h2>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1 class="sub-titles">Fun thing to Do</h1>
			<h2>
				<ul class="items">
					<li>Check out the Escape Rooms</li>
					<li>Go see a game at Pringles Park</li>
					<li>Catch some air at Skyzone</li>
					<li>Go see a live concert at Oman Arena</li>
				</ul>
			</h2>
		</div>
		<div class="col-sm-6">
			<h1 class="sub-titles">Seemingly Interesting Facts</h1>
			<h2>
				<ul class="items">
					<li>Originally named Alexandria, the city was renamed in 1822 after President Andrew Jackson</li>
					<li>Jackson is home to the AA Class minor League Baseball team "The Generals"</li>
					<li>Jackson's nickname is Hub City</li>
					<li>It is home to the very first Hard Rock Cafe</li>
					<li>The song "Jackson" by Johnny Cash and June Carter is refering to Jackson Tennessee</li>
				</ul>
			</h2>
		</div>
	</div>
</div>

